<div class="detail-container">
  <a
    class="detail-container__link"
    routerLink="/category/{{ this.categoryId }}"
  >
    <img
      class="link-icon"
      src="../../../assets/images/arrow-back-icon.svg"
      alt="arrow-back-icon.svg"
    />
  </a>
  <div class="detail-container__card">
    <h1 class="card-title">{{ productDetails?.name }}</h1>
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let image of productDetails?.image">
        <div class="detail-card-image">
          <img class="card-image" [src]="image" alt="productDetails.name" />
        </div>
      </ng-template>
    </ngb-carousel>
    <div class="card-color-container">
      <div class="card-color" *ngFor="let color of productDetails?.color">
        <img [src]="color" />
      </div>
    </div>
    <p class="card-description">{{ productDetails?.longDescription }}</p>
    <p class="card-price">{{ productDetails?.formattedPrice }}€</p>
  </div>
</div>
