.detail-container {
    display: flex;
    align-items: center;

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.card-title {
    font-family: "Roboto Condensed", sans-serif;
}

.card-image {
    width: 50%;
}

.card-description,
.card-price {
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
}
