<div class="page__app__detail-container">
    <div class="page__app__detail-container__card">
        <h1 class="page__app__detail-container__card__title">{{productDetails.name}}</h1>
        <img class="page__app__detail-container__card__image" [src]="productDetails.image" alt="productDetails.name">
        <p class="page__app__detail-container__card__description">{{productDetails.longDescription}}</p>
        <p class="page__app__detail-container__card__price">{{productDetails.price[0]}}€</p>
    </div>
</div>
