<div class="category-header">
  <div class="header-container">
    <a class="header-container__link" routerLink="/home">
      <img
        class="link-icon"
        src="../../../assets/images/arrow-back-icon.svg"
        alt="arrow-back-icon.svg"
      />
    </a>
    <input
      class="header-container__searchbox"
      type="text"
      [(ngModel)]="filter"
      placeholder="Buscar productos"
    />
  </div>
  <h1 class="title">Los productos de la colección</h1>
</div>

<select
  class="categories-select"
  id="sort-by"
  (ngModelChange)="onSort($event)"
  [(ngModel)]="sort"
>
  <option value="" selected disabled hidden>Filtrar por...</option>
  <option value="Name">Nombre del producto A-Z</option>
  <option value="lowPrice">Precio de menor a mayor</option>
  <option value="highPrice">Precio de mayor a menor</option>
</select>

<div class="product-container">
  <app-card
    *ngFor="let product of productList | filterProduct : filter"
    [product]="product"
    routerLink="/category/{{ this.categoriesID }}/product/{{ product.id }}"
  ></app-card>
</div>
