<!-- <div class="footer-container">
    <div class="footer-container__row">
        <div class="footer-container__row__ayuda">
            <h5>Ayuda</h5>
            <ul>
                <li><a href="https://www.oysho.com/es/contact.html">Contacto</a></li>
                <li><a href="https://www.oysho.com/es/att-client.html">Guía de compra</a></li>
                <li><a href="https://www.oysho.com/es/page/landing_guiatallas.html">Guía de tallas</a></li>
                <li><a href="https://www.oysho.com/es/page/landing_envios.html">Envíos y devoluciones</a></li>
                <li><a href="https://www.oysho.com/es/gift-card/home.html">Tarjeta regalo</a></li>
                <li><a href="https://www.oysho.com/integration/mectitofa/web/ticket?brand=OY&locale=es&market=ES">Solicitar
                        factura</a></li>
            </ul>
        </div>

        <div class="footer-container__row__empresa">
            <h5>Empresa</h5>
            <ul class="footer-container__row__empresa__footer-links">
                <li><a href="https://www.oysho.com/es/store-locator.html">Tiendas</a></li>
                <li><a href="https://www.oysho.com/es/page/company.html">Sobre nosotros</a></li>
                <li><a href="https://www.oysho.com/es/page/press.html">Prensa</a></li>
                <li><a href="https://www.oysho.com/es/page/policies.html">Políticas</a></li>
                <li><a
                        href="https://static.oysho.net/6/static2/legal/cookiespolicy/CookiesPolicy_es.pdf?t=20221107015740">Política
                        de cookies</a></li>
                <li><a
                        href="https://static.oysho.net/6/static2/legal/cookiespolicy/CookiesPolicy_es.pdf?t=20221107015740">Configuración
                        de cookies</a></li>
                <li><a
                        href="https://static.oysho.net/6/static2/legal/PrivacyPolicy/PrivPolicy_OY_ES_es.pdf?t=20221107015740">Política
                        de privacidad</a></li>
            </ul>
        </div>

        <div class="footer-container__row__links">
            <h5>Síguenos</h5>
            <ul class="footer-container__row__links__footer-links">
                <li><a href="https://www.facebook.com/oysho">Facebook</a></li>
                <li><a href="https://instagram.com/oysho">Instagram</a></li>
                <li><a href="https://www.youtube.com/c/oysho">Youtube</a></li>
            </ul>
        </div>

        <div class="footer-container__row__qr">
            <h5>Descarga nuestra app</h5>
            <img src="https://static.oysho.net/6/cms/assets/uploads/qrDownload_1.png?imwidth=200&ts=20221129021707"
                alt="código qr de Oysho" />
        </div>
    </div>
    <hr>
    <div class="footer-container__social">
        <div class="footer-container__social__copyright">
            <p>Copyright &copy; 2022 All Rights Reserved by
                <a href="https://github.com/mimigargon">Mireia</a>.
            </p>
        </div>
    </div>
</div>
 -->