<div class="footer-container">
  <div class="row">
    <div class="row__help">
      <h5>Ayuda</h5>
      <ul class="help-list" *ngFor="let link of allLinks">
        <li><a class="list-link" [href]="link.help.contact">Contacto</a></li>
        <li>
          <a class="list-link" [href]="link.help.client">Guía de compra</a>
        </li>
        <li>
          <a class="list-link" [href]="link.help.sizes">Guía de tallas</a>
        </li>
        <li>
          <a class="list-link" [href]="link.help.shipping"
            >Envíos y devoluciones</a
          >
        </li>
        <li>
          <a class="list-link" [href]="link.help.giftCard">Tarjeta regalo</a>
        </li>
        <li>
          <a class="list-link" [href]="link.help.ticket">Solicitar factura</a>
        </li>
      </ul>
    </div>

    <div class="row__enterprise">
      <h5>Empresa</h5>
      <ul class="enterprise-list" *ngFor="let link of allLinks">
        <li>
          <a class="list-link" [href]="link.enterprise.stores">Tiendas</a>
        </li>
        <li>
          <a class="list-link" [href]="link.enterprise.company"
            >Sobre nosotros</a
          >
        </li>
        <li><a class="list-link" [href]="link.enterprise.press">Prensa</a></li>
        <li>
          <a class="list-link" [href]="link.enterprise.policies">Políticas</a>
        </li>
        <li>
          <a class="list-link" [href]="link.enterprise.cookies"
            >Política de cookies</a
          >
        </li>
        <li>
          <a class="list-link" [href]="link.enterprise.cookiesSettings"
            >Configuración de cookies</a
          >
        </li>
        <li>
          <a class="list-link" [href]="link.enterprise.privacy"
            >Política de privacidad</a
          >
        </li>
      </ul>
    </div>

    <div class="row__social">
      <h5>Síguenos</h5>
      <ul class="social-list" *ngFor="let link of allLinks">
        <li><a class="list-link" [href]="link.social.facebook">Facebook</a></li>
        <li>
          <a class="list-link" [href]="link.social.instagram">Instagram</a>
        </li>
        <li><a class="list-link" [href]="link.social.youtube">Youtube</a></li>
      </ul>
    </div>

    <div class="row__qr" *ngFor="let link of allLinks">
      <h5>Descarga nuestra app</h5>
      <img class="qr-image" [src]="link.qr.src" alt="código qr de Oysho" />
    </div>
  </div>
  <hr />
  <div class="copyright">
    <div class="copyright-link-container" *ngFor="let link of allLinks">
      <p>
        Copyright &copy; 2022 All Rights Reserved by
        <a class="copyright-link" [href]="link.social.github">Mireia</a>.
      </p>
    </div>
  </div>
</div>
