.footer-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(221, 221, 221, 0.192);
}

.row,
.copyright {
    display: flex;
    align-items: baseline;
    font-family: "Roboto Condensed", sans-serif;
    justify-content: space-around;
    margin-top: 50px;

    &__help,
    &__enterprise,
    &__social,
    &__qr {
        h5 {
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
}

.help-list,
.enterprise-list,
.social-list {
    list-style-type: none;
}

.list-link {
    text-decoration: none;
    color: black;
}

.qr-image {
    width: 50%;
}

.copyright-link {
    text-decoration: none;
    color: black;
}
