@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

&__title {
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

&__home-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 5%;
    
    &__products {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &__image {
            width: 60%;
            cursor: pointer;
        }

        &__name, &__price {
            font-family: "Roboto Condensed", sans-serif;
        }
    }
}
